# Что сегодня сделаем
Библиотеку для получения курсов валют в 2 строки

In [1]:
from libs.exchange import Rate

In [2]:
Rate().usd()

68.6183

In [3]:
Rate('full').AZN()

{'ID': 'R01020A',
 'NumCode': '944',
 'CharCode': 'AZN',
 'Nominal': 1,
 'Name': 'Азербайджанский манат',
 'Value': 40.447,
 'Previous': 40.4801}

### Задача
Дана строка со значениями, которые разделены запятыми:

In [3]:
line = '2019-07-01,organic,4293'

Напишите функцию column_count, которая возвращает число столбцов в такой строке

In [14]:
def column_count(line, count_empty_line=True, separator=','):
    if count_empty_line:
        return len(line.split(separator))
    else:
        if line == '':
            return 0
        else: len(line.split(separator))

In [15]:
column_count('2019-07-01,organic,4293')

3

In [16]:
column_count('2019-07-01')

1

In [17]:
column_count('', count_empty_line=True)

1

# Классы
Пример использования переменной в разных методах

In [28]:
class AnyName:
    def method_1(self):
        self.currency = 'usd'
    
    def method_2(self):
        print(self.currency)

In [19]:
a = AnyName()

In [20]:
a.method_1()

In [21]:
a.currency

'usd'

In [22]:
a.method_2()

usd

### Метод __init__

In [23]:
# метод __init__ выполняется при вызове класса

class Rate:
    def __init__(self):
        self.format = 'value'
        print(self.format)

In [24]:
r = Rate()

value

In [25]:
r.format

'value'

### Класс для курсов валют

In [29]:
class Rate:
    def __init__(self):
        self.format = 'value'
    
    def show_current_format(self):
        return self.format

In [30]:
r = Rate()

In [31]:
r.show_current_format()

'value'

Пример инициализации со значением переменной

In [32]:
class Rate:
    def __init__(self, format_):
        self.format = format_
    
    def show_current_format(self):
        return self.format

In [33]:
r = Rate(format_='value')

In [34]:
r.show_current_format()

'value'

Или сразу со значением по умолчанию

In [35]:
class Rate:
    def __init__(self, format_='value'):
        self.format = format_
    
    def show_current_format(self):
        return self.format

In [36]:
r = Rate()
r.show_current_format()

'value'

In [37]:
r_full = Rate(format_='full')
r_full.show_current_format()

'full'

In [38]:
# значения переменных класса можно менять

r.format = 'full_123'
r.show_current_format()

'full_123'

### Упражнение
Создайте класс сотрудника Employee. При инициализации класса задается имя сотрудника name и его текущая зарплата salary. Напишите следующие методы:
1. Метод up, который увеличивает зарплату сотрудника на 100
2. Метод print, который выводит на экран текущую зарплату сотрудника в формате "Сотрудник Иван, зарплата 100"

In [56]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        
    def up(self):
        self.salary += 100
    
    def print(self):
        print(f'Сотрудник {self.name}, зарплата {self.salary}')

In [67]:
ivan = Employee(name='Ivan', salary=50)

In [68]:
elena = Employee(name='Elena', salary=50)

In [60]:
ivan.name, ivan.salary

('Ivan', '50')

In [61]:
elena.name, elena.salary

('Elena', '50')

In [76]:
elena.up()

In [77]:
elena.print()

Сотрудник Elena, зарплата 750

### Полная версия класса

In [78]:
import requests #стандартная библиотека для использования внешних ресурсов

In [79]:
class Rate:
    """
    
    """
    def __init__(self, format_='value'):
        self.format = format_
    
    def exchange_rates(self):
        """
        Возвращает ответ сервиса с информацией о валютах в виде:
        
        {
            'AMD': {
                'CharCode': 'AMD',
                'ID': 'R01060',
                'Name': 'Армянских драмов',
                'Nominal': 100,
                'NumCode': '051',
                'Previous': 14.103,
                'Value': 14.0879
                },
            ...
        }
        """
        self.r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
        return self.r.json()['Valute']
    
    def make_format(self, currency):
        """
        Возвращает информацию о валюте currency в двух вариантах:
        - полная информация о валюте при self.format = 'full':
        Rate('full').make_format('EUR')
        {
            'CharCode': 'EUR',
            'ID': 'R01239',
            'Name': 'Евро',
            'Nominal': 1,
            'NumCode': '978',
            'Previous': 79.6765,
            'Value': 79.4966
        }
        
        Rate('value').make_format('EUR')
        79.4966
        """
        response = self.exchange_rates()
        
        if currency in response:
            if self.format == 'full':
                return response[currency]
            
            if self.format == 'value':
                return response[currency]['Value']
        
        return 'Error'
    
    def eur(self):
        """Возвращает курс евро на сегодня в формате self.format"""
        return self.make_format('EUR')
    
    def usd(self):
        """Возвращает курс доллара на сегодня в формате self.format"""
        return self.make_format('USD')
    
    def brl(self):
        """Возвращает курс бразильского реала на сегодня в формате self.format"""
        return self.make_format('BRL')

In [86]:
r = Rate(format_='full') #или 'value'

In [87]:
r.eur()

{'ID': 'R01239',
 'NumCode': '978',
 'CharCode': 'EUR',
 'Nominal': 1,
 'Name': 'Евро',
 'Value': 81.2318,
 'Previous': 80.8392}

In [81]:
r.usd()

{'ID': 'R01235',
 'NumCode': '840',
 'CharCode': 'USD',
 'Nominal': 1,
 'Name': 'Доллар США',
 'Value': 71.231,
 'Previous': 70.7998}

In [82]:
r = Rate()

In [83]:
r.exchange_rates()

{'AUD': {'ID': 'R01010',
  'NumCode': '036',
  'CharCode': 'AUD',
  'Nominal': 1,
  'Name': 'Австралийский доллар',
  'Value': 49.7905,
  'Previous': 49.6165},
 'AZN': {'ID': 'R01020A',
  'NumCode': '944',
  'CharCode': 'AZN',
  'Nominal': 1,
  'Name': 'Азербайджанский манат',
  'Value': 41.9253,
  'Previous': 41.6715},
 'GBP': {'ID': 'R01035',
  'NumCode': '826',
  'CharCode': 'GBP',
  'Nominal': 1,
  'Name': 'Фунт стерлингов Соединенного королевства',
  'Value': 89.3522,
  'Previous': 89.3493},
 'AMD': {'ID': 'R01060',
  'NumCode': '051',
  'CharCode': 'AMD',
  'Nominal': 100,
  'Name': 'Армянских драмов',
  'Value': 14.6959,
  'Previous': 14.523},
 'BYN': {'ID': 'R01090B',
  'NumCode': '933',
  'CharCode': 'BYN',
  'Nominal': 1,
  'Name': 'Белорусский рубль',
  'Value': 29.6932,
  'Previous': 29.4999},
 'BGN': {'ID': 'R01100',
  'NumCode': '975',
  'CharCode': 'BGN',
  'Nominal': 1,
  'Name': 'Болгарский лев',
  'Value': 41.5438,
  'Previous': 41.4203},
 'BRL': {'ID': 'R01115',
  'NumCode': '986',
  'CharCode': 'BRL',
  'Nominal': 1,
  'Name': 'Бразильский реал',
  'Value': 13.2644,
  'Previous': 13.1882},
 'HUF': {'ID': 'R01135',
  'NumCode': '348',
  'CharCode': 'HUF',
  'Nominal': 100,
  'Name': 'Венгерских форинтов',
  'Value': 22.9611,
  'Previous': 22.9088},
 'HKD': {'ID': 'R01200',
  'NumCode': '344',
  'CharCode': 'HKD',
  'Nominal': 10,
  'Name': 'Гонконгских долларов',
  'Value': 91.8813,
  'Previous': 91.3369},
 'DKK': {'ID': 'R01215',
  'NumCode': '208',
  'CharCode': 'DKK',
  'Nominal': 1,
  'Name': 'Датская крона',
  'Value': 10.9126,
  'Previous': 10.8816},
 'USD': {'ID': 'R01235',
  'NumCode': '840',
  'CharCode': 'USD',
  'Nominal': 1,
  'Name': 'Доллар США',
  'Value': 71.231,
  'Previous': 70.7998},
 'EUR': {'ID': 'R01239',
  'NumCode': '978',
  'CharCode': 'EUR',
  'Nominal': 1,
  'Name': 'Евро',
  'Value': 81.2318,
  'Previous': 80.8392},
 'INR': {'ID': 'R01270',
  'NumCode': '356',
  'CharCode': 'INR',
  'Nominal': 100,
  'Name': 'Индийских рупий',
  'Value': 94.7328,
  'Previous': 94.2157},
 'KZT': {'ID': 'R01335',
  'NumCode': '398',
  'CharCode': 'KZT',
  'Nominal': 100,
  'Name': 'Казахстанских тенге',
  'Value': 17.2491,
  'Previous': 17.1488},
 'CAD': {'ID': 'R01350',
  'NumCode': '124',
  'CharCode': 'CAD',
  'Nominal': 1,
  'Name': 'Канадский доллар',
  'Value': 52.6895,
  'Previous': 52.1353},
 'KGS': {'ID': 'R01370',
  'NumCode': '417',
  'CharCode': 'KGS',
  'Nominal': 100,
  'Name': 'Киргизских сомов',
  'Value': 91.736,
  'Previous': 91.3113},
 'CNY': {'ID': 'R01375',
  'NumCode': '156',
  'CharCode': 'CNY',
  'Nominal': 1,
  'Name': 'Китайский юань',
  'Value': 10.1789,
  'Previous': 10.1292},
 'MDL': {'ID': 'R01500',
  'NumCode': '498',
  'CharCode': 'MDL',
  'Nominal': 10,
  'Name': 'Молдавских леев',
  'Value': 41.7165,
  'Previous': 41.464},
 'NOK': {'ID': 'R01535',
  'NumCode': '578',
  'CharCode': 'NOK',
  'Nominal': 10,
  'Name': 'Норвежских крон',
  'Value': 76.388,
  'Previous': 75.972},
 'PLN': {'ID': 'R01565',
  'NumCode': '985',
  'CharCode': 'PLN',
  'Nominal': 1,
  'Name': 'Польский злотый',
  'Value': 18.1097,
  'Previous': 18.1273},
 'RON': {'ID': 'R01585F',
  'NumCode': '946',
  'CharCode': 'RON',
  'Nominal': 1,
  'Name': 'Румынский лей',
  'Value': 16.776,
  'Previous': 16.7257},
 'XDR': {'ID': 'R01589',
  'NumCode': '960',
  'CharCode': 'XDR',
  'Nominal': 1,
  'Name': 'СДР (специальные права заимствования)',
  'Value': 99.0382,
  'Previous': 98.1016},
 'SGD': {'ID': 'R01625',
  'NumCode': '702',
  'CharCode': 'SGD',
  'Nominal': 1,
  'Name': 'Сингапурский доллар',
  'Value': 51.1607,
  'Previous': 50.9975},
 'TJS': {'ID': 'R01670',
  'NumCode': '972',
  'CharCode': 'TJS',
  'Nominal': 10,
  'Name': 'Таджикских сомони',
  'Value': 69.106,
  'Previous': 68.6877},
 'TRY': {'ID': 'R01700J',
  'NumCode': '949',
  'CharCode': 'TRY',
  'Nominal': 1,
  'Name': 'Турецкая лира',
  'Value': 10.387,
  'Previous': 10.3132},
 'TMT': {'ID': 'R01710A',
  'NumCode': '934',
  'CharCode': 'TMT',
  'Nominal': 1,
  'Name': 'Новый туркменский манат',
  'Value': 20.3808,
  'Previous': 20.2575},
 'UZS': {'ID': 'R01717',
  'NumCode': '860',
  'CharCode': 'UZS',
  'Nominal': 10000,
  'Name': 'Узбекских сумов',
  'Value': 69.7113,
  'Previous': 69.446},
 'UAH': {'ID': 'R01720',
  'NumCode': '980',
  'CharCode': 'UAH',
  'Nominal': 10,
  'Name': 'Украинских гривен',
  'Value': 26.0788,
  'Previous': 26.1037},
 'CZK': {'ID': 'R01760',
  'NumCode': '203',
  'CharCode': 'CZK',
  'Nominal': 10,
  'Name': 'Чешских крон',
  'Value': 30.4367,
  'Previous': 30.4149},
 'SEK': {'ID': 'R01770',
  'NumCode': '752',
  'CharCode': 'SEK',
  'Nominal': 10,
  'Name': 'Шведских крон',
  'Value': 78.3421,
  'Previous': 78.1938},
 'CHF': {'ID': 'R01775',
  'NumCode': '756',
  'CharCode': 'CHF',
  'Nominal': 1,
  'Name': 'Швейцарский франк',
  'Value': 75.4406,
  'Previous': 75.5037},
 'ZAR': {'ID': 'R01810',
  'NumCode': '710',
  'CharCode': 'ZAR',
  'Nominal': 10,
  'Name': 'Южноафриканских рэндов',
  'Value': 42.6991,
  'Previous': 42.5925},
 'KRW': {'ID': 'R01815',
  'NumCode': '410',
  'CharCode': 'KRW',
  'Nominal': 1000,
  'Name': 'Вон Республики Корея',
  'Value': 59.1509,
  'Previous': 58.9409},
 'JPY': {'ID': 'R01820',
  'NumCode': '392',
  'CharCode': 'JPY',
  'Nominal': 100,
  'Name': 'Японских иен',
  'Value': 66.5617,
  'Previous': 66.1835}}

Документация необходима почти всем методам

In [ ]:
?r.exchange_rates

# Наследование

Разработчикам финансового департамента помимо курса надо работать с кодами валют. Как сохранить сохранить разработку класса Rate у нас, а полезные функции передать финансистам?

In [88]:
class CurrencyCodes(Rate):
    def __init__(self):
        super().__init__(format_='full') #вызывает родительский класс rate с заданным параметром

Теперь классу CurrencyCodes доступны все методы класса Rate. Можем продолжать разработку в нужном направлении.

In [89]:
cc = CurrencyCodes()

In [90]:
CurrencyCodes().usd()

{'ID': 'R01235',
 'NumCode': '840',
 'CharCode': 'USD',
 'Nominal': 1,
 'Name': 'Доллар США',
 'Value': 71.231,
 'Previous': 70.7998}

Допишем в класс что-нибудь свое новенькое

In [91]:
class CurrencyCodes(Rate):
    def __init__(self):
        super().__init__(format_='full')
    
    def currency_id(self, currency):
        """Получение идентификатора валюты"""
        return self.make_format(currency)['ID']

In [92]:
currency = CurrencyCodes()

In [93]:
currency.currency_id('USD')

'R01235'

# Система повышения сотрудников
Пригодится для домашнего задания

In [94]:
class Employee:
    def __init__(self, name, seniority):
        self.name = name
        self.seniority = seniority
        
        self.grade = 1
    
    def grade_up(self):
        """Повышает уровень сотрудника"""
        self.grade += 1
    
    def publish_grade(self):
        """Публикация результатов аккредитации сотрудников"""
        print(self.name, self.grade)
    
    def check_if_it_is_time_for_upgrade(self):
        pass

In [95]:
class Developer(Employee):
    def __init__(self, name, seniority):
        super().__init__(name, seniority)
    
    def check_if_it_is_time_for_upgrade(self):
        # для каждой аккредитации увеличиваем счетчик на 1
        # пока считаем, что все разработчики проходят аккредитацию
        self.seniority += 1
        
        # условие повышения сотрудника из презентации
        if self.seniority % 5 == 0:
            self.grade_up()
        
        # публикация результатов
        return self.publish_grade()

In [96]:
# проверяем как работает система повышения сотрудников на примере отдела разработки

# разработчик Александр только что пришел в компанию
alex = Developer('Александр', 0)

In [97]:
for i in range(20):
    alex.check_if_it_is_time_for_upgrade()

Александр 1
Александр 1
Александр 1
Александр 1
Александр 2
Александр 2
Александр 2
Александр 2
Александр 2
Александр 3
Александр 3
Александр 3
Александр 3
Александр 3
Александр 4
Александр 4
Александр 4
Александр 4
Александр 4
Александр 5

# Домашнее задание задача 3

Напишите класс Designer, который учитывает количество международных премий для дизайнеров (из презентации: "Повышение на 1 грейд за каждые 7 баллов. Получение международной премии – это +2 балла"). Считайте, что при выходе на работу сотрудник уже имеет две премии и их количество не меняется со стажем (конечно если хотите это можно вручную менять). Выполните проверку для 20 аккредитаций дизайнера Елены.

Для проверки используйте код:

In [ ]:
elena = Designer('Елена', seniority=0, awards=2)

In [ ]:
for i in range(20):
    elena.check_if_it_is_time_for_upgrade()

# Импорт классов и функций

In [98]:
from libs.exchange import my_sum #libs название папки, а exchange название файла

In [99]:
my_sum(1, 2)

3

In [100]:
from libs.exchange import Rate

In [101]:
Rate().AZN()

41.9253

In [102]:
# такой способ импорта крайне не рекомендуется
from libs.exchange import *

Если библиотека лежит в произвольной папке

In [108]:
import sys

In [109]:
sys.path

['/Users/filipprodcenkov/Documents/courses/netology/PYDA_homeworks/8._Python_class1.ipynb',
 '/Users/filipprodcenkov/opt/anaconda3/lib/python37.zip',
 '/Users/filipprodcenkov/opt/anaconda3/lib/python3.7',
 '/Users/filipprodcenkov/opt/anaconda3/lib/python3.7/lib-dynload',
 '',
 '/Users/filipprodcenkov/opt/anaconda3/lib/python3.7/site-packages',
 '/Users/filipprodcenkov/opt/anaconda3/lib/python3.7/site-packages/aeosa',
 '/Users/filipprodcenkov/opt/anaconda3/lib/python3.7/site-packages/IPython/extensions',
 '/Users/filipprodcenkov/.ipython',
 'адрес_папки_с_файлами',
 '/Users/kbashevoy/Desktop/Нетология/Занятия/Занятие 8/libs']

In [103]:
import sys
sys.path.append('адрес_папки_с_файлами')

In [104]:
# пример

import sys
sys.path.append('/Users/kbashevoy/Desktop/Нетология/Занятия/Занятие 8/libs')

In [110]:
from exchange import my_sum

ModuleNotFoundError: No module named 'exchange'

In [106]:
my_sum(3, 3)

6